@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space-grotesk: 'Space Grotesk', system-ui, sans-serif;
  }

  * {
    @apply border-dark-100;
  }

  body {
    @apply bg-white-100 text-dark-500;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-dark-500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
